
@{
    ViewBag.Title = "Blog";
}


    
<div class="container">

        <iframe frameborder="0"
                style="height:100%;position:absolute;width:90%"
                src="http://quantitysystem.wordpress.com/" />



</div>