@{
    ViewBag.Title = "Quantity System Framework";
    ViewBag.MetaDescription = "Quantity System Framework and Scripting Language for Physical Quantities and Units Conversions";


}

<script src="~/Scripts/jquery.mousewheel-min.js"></script>
<script src="~/Scripts/jquery.terminal-min.js"></script>
<link href="~/Content/jquery.terminal.css" rel="stylesheet" />


<script>
    var copyright = "\
Quantity System Framework  ver 1.3.3\n\
Quantity System DLR        ver 1.2.984\n\
Symbolic Algebra Library   ver 0.8.975\n\
Copyright (c) 2008 - 2015 at Lost Particles Network by Ahmed Sadek\n\
\n\
Project Source: http://QuantitySystem.CodePlex.com\n\
Project Blog:   http://QuantitySystem.WordPress.com\n\
\n\
-------------------------------------------------------------------\n\
--                Ahmed Sadek Mohamed Tawfik                     --\n\
--              Ahmed.Sadek@LostParticles.net                    --\n\
-------------------------------------------------------------------\n\
\n";

    jQuery(function($, undefined) {
    $('#terminal').terminal(function(command, term) {
            if (command !== '') {
                try {

                    if (command == 'copyright') {
                        term.echo(copyright);
                    }
                    else {
                        $.post("/api/Qs/", { '': command })
                        .done(function (data) {
                            term.echo(data);
                            term.echo('');
                        })
                        .fail(function (d, textStatus, error) {
                            //alert(error);
                            var err = eval('(' + d.responseText + ')');
                            term.error(new String(err.Message));
                        })
                    }
                    ;
                } catch(e) {
                    term.error(new String(e));
                }
            } else {
                term.echo('');
            }
            }, {
                greetings: copyright,
                name: 'Qs_Demo',
                height: 480,
                prompt: 'Qs> '
            });


    });


    

</script>

<div class="row">
    <div class="col-md-12">
        <p></p>
    </div>
    
</div>
<div class="row">

    <div class="col-md-12">

        <div id="terminal"></div>

    </div>
</div>