@{
    ViewBag.Title = "Quantity System Framework";
    ViewBag.MetaDescription = "Quantity System Framework and Scripting Language for Physical Quantities and Units Conversions";


}

<script src="~/Scripts/jquery.mousewheel-min.js"></script>
<script src="~/Scripts/jquery.terminal-min.js"></script>
<link href="~/Content/jquery.terminal.css" rel="stylesheet" />


<script>
    var copyright = "\
Quantity System Framework  ver 1.4\n\
Quantity System DLR        ver 1.4\n\
Symbolic Algebra Library   ver 0.8.99\n\
Copyright (c) 2008 - 2018 at Lost Particles Network by Ahmed Sadek\n\
\n\
Project Source: https://github.com/ibluesun/QuantitySystem\n\
Project Blog:   http://QuantitySystem.WordPress.com\n\
\n\
-------------------------------------------------------------------\n\
--                Ahmed Sadek Mohamed Tawfik                     --\n\
--              Ahmed.Sadek@LostParticles.net                    --\n\
-------------------------------------------------------------------\n\
\n";

    jQuery(function($, undefined) {
    $('#terminal').terminal(function(command, term) {
            if (command !== '') {
                try {

                    if (command == 'copyright') {
                        term.echo(copyright);
                    }
                    else {
                        $.post("/api/Qs/", { '': command })
                        .done(function (data) {
                            term.echo(data);
                            term.echo('');
                        })
                        .fail(function (d, textStatus, error) {
                            //alert(error);
                            var err = eval('(' + d.responseText + ')');
                            term.error(new String(err.Message));
                        })
                    }
                    ;
                } catch(e) {
                    term.error(new String(e));
                }
            } else {
                term.echo('');
            }
            }, {
                greetings: copyright,
                name: 'Qs_Demo',
                height: 480,
                prompt: 'Qs> '
            });


    });


    

</script>
<div id="fb-root"></div>
<script>
(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=462003583955219";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>





<div class="row">
    <div class="col-md-12">
        <p></p>
    </div>
    
</div>
<div class="row">

    <div class="col-md-12">

        <div id="terminal"></div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p></p>
    </div>

</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="fb-like" data-href="https://facebook.com/QuantitySystem" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        
    </div>
    <div class="col-md-4"></div>
 </div>