
@{
    ViewBag.Title = "PrivacyStatement";
}

<h2>Privacy Statement</h2>


<p><b>Quantity System Website</b> does not collect or requier any personal data from its visitors</p>
<p>The <b>Facebook Bot Messenger</b> of this website (that is associated with <a href="https://www.facebook.com/QuantitySystem/">Quantity System Facebook Page</a>) do not collect/store any information from the user who interacts with the bot conversation in anyway.</p>
<p>The website and its services like the facebook bot messenger doesn't require any payment of any kind to use its functionality.</p>

<h3>Cookies Usage</h3>
<p>The website uses a limited time cookies (1 day) for the variables declared on the terminal of this website</p>
<p>Other than the above usage no cookies are used for any other type of activity</p>


